:root {
  --font-main-dark: #00b9aa;
  --font-main-light: rgb(230, 255, 218);
}
.App {
  text-align: center;
  padding: 2rem;
  /* background: rgb(230, 255, 218); */
  background: linear-gradient(
    0deg,
    rgba(230, 255, 218, 1) 0%,
    rgba(91, 196, 228, 1) 100%
  );
  color: var(--font-main-light);
  min-height: 100vh;
}

.App > div {
  position: relative;
  max-width: 820px;
  margin: auto;
}

h1 {
  margin: 0;
}

#bingoSizeSelect {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0.5rem;
  margin: 0.5rem;
  /* background-color: rgba(230, 255, 218, 0.9); */
  border-radius: 0.5rem;
  border: none;
  outline: 0 none;
}
#bingoSizeSelect option {
  /* background: black; */
  /* color: #fff; */
  padding: 3px 0;
}

@media screen and (max-width: 720px) {
  .App {
    padding: 0.5rem;
  }
  #bingoSizeSelect {
    position: static;
  }
}
